body {
    background-image: url(../images/actor.jpg);
    background-color: rgba(0, 255, 188, 0.5);
    background-position: center ;
    background-image: no-repeat;
    background-size: cover;
  }
  
  
  .artist {
      margin: 5px;
  }
  h1 {
      font-family: fantasy;
  }